body{
  background-image: url(https://cs4.pikabu.ru/post_img/big/2016/06/17/5/1466146678129112140.jpg);  
  background-size: cover;
  background-attachment: fixed;;
}
h1{
    background-color: #58c2ff88;
    width:  30% 30% ;
    padding:  30px 30px ;
 }
h2{
    background-color: #8be8ff79;
    width:  30% 30% ;
    padding:  30px 30px ;

}